html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.backgroundImg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 350;
  color: white;
}

h2 {
  font-size: 2.8rem;
  margin: 10px 0 10px 0;
  font-weight: 100;
  text-align: center;
}
h3 {
  font-size: 2rem;
  margin: 10px 0 10px 0;
  font-weight: 100;
  text-align: center;
}
.textShadow {
  /* text-shadow: 1px 2px 5px black; */
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}
p {
  font-size: 1.4rem;
  margin: 0;
}

.buttonLocate {
  display: flex;
  justify-content: center;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
  align-items: center;
}

.buttonLocate button {
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 20px;
  box-sizing: border-box;
  border: 0;
  padding: 5px 10px;
  color: #000;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.buttonLocate button svg {
  padding-right: 5px;
}

button:hover {
  box-shadow: 3px 3px 0px black;
  color: black;
  background-color: hsl(0deg, 0%, 100%);
}

button:active {
  transform: translateY(30px);
  transition: all 0.4s ease-in-out;
}
.inputContainer {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.inputBox {
  width: 200px;
  position: relative;
}
.inputBox input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 20px;
  border: 0;
  padding-left: 10px;
  background-color: white;
  font-family: inherit;
}
.inputBox button {
  position: absolute;
  top: 0;
  border-radius: 20px;
  right: 0px;
  z-index: 2;
  border: 0;
  height: 30px;
  cursor: pointer;
  color: black;
  background-color: white;
  transform: translateX(2px);
  padding: 8px;
}

#getLocInput:focus,
#getLocInput:hover {
  outline: none;
  box-shadow: 3px 3px 0px black;
}

.weatherContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
}

.currentContainer {
  display: flex;
  justify-content: center;
}
.currentWeatherContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  display: flex;
  height: 130px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.temp-text {
  font-size: 2rem;
}

.temp p {
  font-size: 9rem;
  font-weight: 350;
  color: white;
}

.mainImage img {
  width: 130px;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box {
  box-sizing: border-box;
  background-color: white;
  border-radius: 30px;
  width: 300px;
  padding: 0 10px;
  margin-bottom: 15px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}

.detailContent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}
.detailContent > div {
  display: flex;
  width: 120px;
  padding: 5px 0px;
}
.bold-text {
  font-weight: 700;
}
.detail img {
  height: 30px;
  width: 40px;
}

.sun {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sun div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sun img {
  width: 40px;
  padding: 5px;
}
.description {
  display: flex;
  justify-content: center;
}

.forecastContainer {
  display: flex;
  justify-content: center;
  min-width: 30rem;
}

.forecastWeatherContainer {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  margin: 0 8px 10px 0px;
  width: 50px;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.forecastContainerCentre p {
  width: 40px;
  text-align: center;
}
.fcDescription img {
  width: 40px;
}
.forecastContainerCentre {
  width: 30rem;
  display: flex;
  overflow: auto;
}
::-webkit-scrollbar {
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #efcc00;
  border-radius: 100vw;
}

@media screen and (min-width: 768px) {
  .detailContent {
    flex-wrap: nowrap;
  }
  /* .box {
    width: auto;
  } */

  .weatherContainer {
    max-width: 1000px;
    margin: 0 auto;
  }
  .currentWeatherContainer {
    align-items: center;
  }
  .sun {
    width: 350px;
    /* margin: 0 auto; */
  }
  .sun img {
    width: 50px;
  }
  .sun-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail {
    width: 550px;
  }
  .forecastContainerCentre {
    width: 630px;
  }
  .detailContent > div {
    width: auto;
  }
  .detailContent > p {
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .detail p,
  .sun p {
    font-size: 2rem;
  }
  .sun {
    width: 45rem;
  }
  .sun > div {
    padding: 1rem;
  }
  .detail {
    width: 90rem;
  }
  .detailContent {
    justify-content: space-between;
  }
  .detailContent > div > div {
    display: inline-flex;
  }
  .detailContent > div > div p {
    margin: 0.5rem;
  }
  .forecastContainerCentre {
    width: 90rem;
  }
  .forecastWeatherContainer {
    width: 7rem;
    height: 15rem;
  }
  .forecastWeatherContainer p {
    font-size: 1.6rem;
  }
  .fcDescription img {
    width: 60px;
  }
}
