html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backgroundImg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 100;
  color: white;
}

h2 {
  font-size: 2.8rem;
  margin: 10px 0 10px 0;
  font-weight: 100;
  color: white;
  text-align: center;
}
h3 {
  font-size: 2rem;
  margin: 10px 0 10px 0;
  font-weight: 100;
  color: white;
  text-align: center;
}
.textShadow {
  text-shadow: 1px 2px 0px black;
}
p {
  font-size: 1.3rem;
  margin: 0;
}

.buttonLocate {
  display: flex;
  justify-content: center;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  align-items: center;
}

.buttonLocate button {
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 20px;
  box-sizing: border-box;
  border: 0;
  padding: 5px 10px;
  color: #000;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.buttonLocate button svg {
  padding-right: 5px;
}

button:hover {
  box-shadow: 3px 3px 0px black;
  color: black;
  /* transform: translateY(-2px); */
  background-color: hsl(0deg, 0%, 100%);
}

button:active {
  transform: translateY(30px);
  transition: all 0.4s ease-in-out;
}
.inputContainer {
  display: flex;
  justify-content: center;
}
.inputBox {
  width: 200px;
  position: relative;
}
.inputBox input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 20px;
  border: 0;
  padding-left: 10px;
  background-color: white;
}
.inputBox button {
  position: absolute;
  top: 0;
  border-radius: 20px;
  right: 0px;
  z-index: 2;
  border: 0;
  height: 30px;
  cursor: pointer;
  color: black;
  background-color: white;
  transform: translateX(2px);
  padding: 8px;
}

#getLocInput:focus,
#getLocInput:hover {
  outline: none;
  box-shadow: 3px 3px 0px black;
}

.weatherContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.currentContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.currentWeatherContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  display: flex;
  height: 130px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.temp p {
  font-size: 9rem;
  font-weight: 300;
  color: white;
}

.mainImage img {
  width: 130px;
}
.detail {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.box {
  background-color: white;
  border-radius: 30px;
  width: 300px;
}
.shadow {
  box-shadow: 3px 3px 0px black;
}

.detailContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.humidity,
.wind,
.rain,
.cloud {
  display: flex;
  width: 113px;
  padding: 10px;
}
.bold-text {
  font-weight: 700;
}
.detail img {
  height: 30px;
  width: 40px;
}

.sun {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.sun div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sun img {
  width: 50px;
}
.description {
  display: flex;
  justify-content: center;
}

.forecastContainer {
  display: flex;
  justify-content: center;
}

.forecastWeatherContainer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  margin: 0 8px 10px 0px;
  width: 50px;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.forecastContainerCentre p {
  width: 40px;
  text-align: center;
}
.fcDescription img {
  width: 40px;
}
.forecastContainerCentre {
  width: 345px;
  display: flex;
  overflow: auto;
}
::-webkit-scrollbar {
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #efcc00;
  border-radius: 100vw;
}

.error {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .detailContent {
    flex-wrap: nowrap;
  }
  .box {
    width: 550px;
  }
  .box p {
    font-size: 1.6rem;
  }
  .currentWeatherContainer {
    align-items: center;
  }
  .forecastContainerCentre {
    width: 578px;
  }
  .humidity,
  .wind,
  .rain,
  .cloud {
    width: auto;
  }
  .humidity p,
  .wind p,
  .rain p,
  .cloud p {
    width: auto;
  }
}
